# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# IDE / Editor files
.vscode/
.idea/

# Optional: PM2 process files
pids/
*.pid
